.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.website-background-color {
  background-color:#D3D3D3;
}

.card-background-color {
  background-color: white;
}

.rounded-bl-md {
  border-radius: 6px;
}

.rounded-br-md {
  border-radius: 6px;
}

.rounded-tl-md {
  border-radius: 6px;
}

.rounded-tr-md {
  border-radius: 6px;
}

.rounded-bl-lg {
  border-radius: 8px;
}

.rounded-br-lg {
  border-radius: 8px;
}

.rounded-tl-lg {
  border-radius: 8px;
}

.rounded-tr-lg {
  border-radius: 8px;
}

.rounded-lg-1 {
  border-radius: 8px;
}

.rounded-md-1 {
  border-radius: 6px;
}
