.button {
  /*background: $blue;*/
  background-color: $dark-blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

a {
  color: $dark-blue;
}

.text-color-db {
  color: $dark-blue;
}

.highlight1 {
  color: $dark-blue;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button-style-1 {
  background-color: $dark-blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}



input[type="radio"] {
  accent-color: $dark-blue; /* Replace with your desired color */
}



