.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 100rem;
}

/*.centerit {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}*/

.background-white-1 {
  background-color: $off-white;
}

.centerit {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items: center;
 min-height: 100vh;

}

.text-color {
  color: $dark-blue;
}


  .some-component{
    position: sticky;
    top: 0;
} 

.padding-all {
  padding:.2rem;
}

.scrollable-ul {
  height: 200px;
  overflow-y: auto;
}

.border5 {
  border-width:1px;
  border-style:solid;
  border-color:black;
}

.grid-container5 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  //grid-template-columns: repeat(3, minmax(225px, 1fr));
  //grid-auto-flow: column;
  gap: 5px;
  height:100vh;
   grid-auto-flow: column;
   grid-auto-columns: minmax(250px, 1fr);
}

// .grid-container5 {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr); /* 2 columns */
//   grid-auto-flow: column; /* Items flow down the columns first */
//     grid-auto-columns: 300px 100px;
//   gap: 10px; /* Optional: Adds space between items */
// }

.element5 {
  // word-break: break-all;
  // overflow-wrap: break-word;
  font-family: monospace;
  width: 225px; /* Set a fixed width */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Add the ellipsis */
}

.flexrowtfw {
  display:flex;
  flex-direction:row;
  width:82rem;
  flex-wrap:wrap;
}

.flexrow3 {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap:wrap;
}

.flexcol3 {
  display:flex;
  flex-direction:column;
}


.flexrowz {
   display:flex;
  flex-direction:row;
}

.flexrow1 {
  display:flex;
  flex-direction:row;
  width:15rem;
}
.heightA {
  // height: 300px;
}
.margin-topt {
  margin-top: 0;
}

.alignCenter {
  align-content: center;
}

.topbottom0 {
  top:0;
  bottom:0;
}

.borderRadius4 {
  border-radius:10px;
}

.flexrow2 {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.flexcol {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-wrap:wrap;
  padding:1rem;
}

.flexrow2e {
  display:flex;
  flex-direction: row;
  //justify-content: space-between;
  justify-content: left;
  flex-wrap:wrap;
}

.flexrow2wpt {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.flexrow2wpt2 {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
}


.flexrow2w {
  display:flex;
  flex-direction:row;
  align-items:center;
  flex-wrap:wrap;
}
.flexrow2lw {
  display:flex;
  flex-direction:row;
  align-items:left;
  flex-wrap:wrap;
}

.flexrow2c {
  display:flex;
  flex-direction:column;
  //align-items:center;
  align-items:left;
  justify-content:center;
  flex-wrap:wrap;
}


.flexrow2b {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  padding: 1rem 1rem;
  flex-wrap:wrap;
}

.borderradius50 {
  border-radius:50%;
}

.borderradius5 {
  border-radius:10px;
}

.flexandwrap {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  border-style: outset;
  border-width:5px;
  border-color:$dark-blue;
}

.flexcolandwrap {
  display:flex;
  flex-direction:column;
  
  border-color:$dark-blue;
}

