.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 100rem;
}



.background-white-1 {
  background-color: $off-white;
}

.centerit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text-color {
  color: $dark-blue;
}

.some-component {
  position: sticky;
  top: 0;
}

.padding-all {
  padding: 0.5em;
}

.padding-all2 {
  padding: 0.685em; //0.585em;
}

.padding-leftright {
  padding-left: 1rem;
  padding-right: 1rem;
}

.scrollable-ul {
  height: 500px;
  overflow-y: auto;
}

.scrollable-div1 {
  width:100%;
  height: 150vh; //112vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-div1m {
  height: 112vh;
  overflow-y: auto;
}

.scrollable-div2content {
  width: 360px;
  height: 105vh; //89vh
  overflow-y: auto;
  //overflow-y: auto; //scroll scroll bar stays on page even if not needed
  

}


.border5 {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.border-bottom-5 {
  border-bottom: 1px solid black;
 
}

.border-bottom-5z {
  border-bottom: 1px solid #d3d3d3;
 
}

.border-right-5 {
  border-right: 1px solid #d3d3d3;
}

.border-left-5 {
  border-left: 1px solid #d3d3d3;
}

.border5green {
  border-width: 1px;
  border-style: solid;
  border-color: green;
}

.border6 {
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.border5a {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.floatLeft {
  float: left;
}

.grid-container5 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  //grid-template-columns: repeat(3, minmax(250px, 1fr));
  // grid-auto-flow: column;
  // gap: 5px;
  // height:100vh;
  // grid-auto-flow: column;
  // grid-auto-columns: minmax(250px, 1fr);
}

// .grid-container5 {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr); /* 2 columns */
//   grid-auto-flow: column; /* Items flow down the columns first */
//     grid-auto-columns: 300px 100px;
//   gap: 10px; /* Optional: Adds space between items */
// }

.element5 {
  // word-break: break-all;
  // overflow-wrap: break-word;
  font-family: monospace;
  width: 250px; /* Set a fixed width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Add the ellipsis */
  color: white;
}

.breakWord {
  word-wrap: break-word;
}

.flexrowtfw {
  display: flex;
  flex-direction: row;
  width: 82rem;
  flex-wrap: wrap;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexrow3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexrow3c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flexcol3 {
  display: flex;
  flex-direction: column;
}

.containerui {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.flexrowz {
  display: flex;
  flex-direction: row;
}

.flexrowztt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexrowzv {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flexrowzc2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexrowzc22 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.flexrowzl1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.flexrowsb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexrowz9 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.flexrowz9z {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.widthx {
  width: 300px;
}

.widthxpx1 {
  width: 113px;
}

.flexrowzc {
  display: flex;
  flex-direction: column;
}

.flexrowz3 {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.flexrow1 {
  display: flex;
  flex-direction: row;
  width: 15rem;
}
.heightA {
  // height: 300px;
}

.height48 {
  height: 49px;
}

.theHeight {
  height: 91px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

input#option1[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.containerhs {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.top0pos-sticky {
  top:40;
  position:fixed;
  opacity:0.25;
  z-index:-1;
}

.sticky-div {
  position: sticky;
  top: 0;
  z-index: 100;
}

.opacity1 {
  opacity:0.25;
}

.normal-wrap {
  white-space: normal;
  overflow-wrap: break-word;
} 

.noWrap {
  display: flex;
  flex-wrap: nowrap;
}

.heightx {
  height:400px;
}

.widthx {
  width:400px;
}

.overflowyauto {
  overflow-y:auto;
}

.margin-topt {
  margin-top: 0;
}

.sticky-div {
  position: sticky;
  top: 0;
}

.scrollable-container {
  overflow: auto;
  overscroll-behavior: contain;
}

.minwidth {
   min-width: 100px;
  
}

 .object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scales image to cover area, cropping if necessary */
  }

.width100 {
  width: 100%;
}

.width360 {
  width: 360px;
}

.width325 {
width:325px;
}

.width295 {
width:295px;
}

.width305 {
width:305px;
}

.width400 {
width:400px;
}


.width50 {
  width: 50%;
}

.width75 {
  width: 75%;
}

.textWrap100 {
  text-wrap: wrap;
}

.width100a {
  width: 100%;
  height: 50vh;
}

.width30p {
  //width:30%;
  min-width: 550px;
}

.width30menupane {
  //width:30%;
 // min-width: 385px;
  //width: 360px;
  width: 360px;
  //width: 285px;
}

.width30menupane2 {
  //width:30%;
 // min-width: 385px;
  //width: 360px;
  width: 360px;
  //width: 285px;
}


.width70p {
  width: 60%;
}

.aw {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //height: 100%; /* Set a specific height if needed */
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  align-content: center;
}

.topbottom0 {
  top: 0;
  bottom: 0;
}

.borderRadius4 {
  border-radius: 10px;
}

.borderRadius10 {
  border-radius: 10px;
}

.flexrow2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexrow2t {
  display: flex;
  flex-direction: row;
  //justify-content: left;
  align-items: center;
}

.flexrow2j {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
}

.flexrow4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-wrap: wrap;
  padding: 1rem;
}

.flexrow2e {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  justify-content: left;
  flex-wrap: wrap;
}

.flexrow2wpt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexrow2wpt2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexrow2w1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flexrow2w {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flexrow2lw {
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: wrap;
}

.flexrow2c {
  display: flex;
  flex-direction: column;
  align-items: center;
  //align-items: left;
  justify-content: center;
  flex-wrap: wrap;
}

.flexrow2cv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  //align-items: left;
  //justify-content: left;
  flex-wrap: wrap;
}

.flexrow2b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  padding: 1rem 1rem;
  flex-wrap: wrap;
}

.borderradius50 {
  border-radius: 50%;
}

.borderradius5 {
  border-radius: 10px;
}

.borderradius55 {
  border-radius: 5px;
}

.flexandwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-style: outset;
  border-width: 5px;
  border-color: $dark-blue;
}

.flexcolandwrap {
  display: flex;
  flex-direction: column;

  border-color: $dark-blue;
}

.grid-container5-newspaper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: repeat(8, 1fr) / repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 5px;
  //grid-auto-columns: minmax(0, 1fr); /_ it will always stay within the width specification _/
}

.width300 {
  width: 300px;
  overflow: hidden;
}

.header4 {
  //background-color: purple;
  background-color: rgba(219, 87, 5, 1);
}

.item-newspaper {
  min-width: 250px;
  // background-color: purple; //#007744;
  background-color: rgba(219, 87, 5, 1);
  // padding-left: 1rem;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  // padding-right:1rem;
  border-radius: 5px;
}

.borderLightOrange {
  border: 1px solid #fbbf77;
  outline: none;
}

.borderWidth2 {
  border-width:2px;
}

select {
  //border: 2px solid #fbbf77;
  	--tw-border-opacity: 1;
border-color: #fbbf77, var(--tw-border-opacity);
}

.searchinput {
  -webkit-border-radius: 30px; /* Safari, Chrome, older WebKit */
  -moz-border-radius: 30px;    /* Older Firefox */
  -khtml-border-radius: 30px;  /* Very old Konqueror */
  border-radius: 30px;         /* Standard CSS3 */
  border: 1px solid #fbbf77;//#2d9fd9;
  color: black;//#a0d18c;
  //width: 400px;
  height: 50px;
  padding-left: 10px;

  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 15px;
  padding-left: 30px;
}

.searchinput:focus {
  outline: none;
  border: 1px solid rgba(219, 87, 5, 1);
  color: black;
}
