.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 84rem;
}

/*.centerit {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}*/

.centerit {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items: center;
 min-height: 100vh;

}

.text-color {
  color: $dark-blue;
}


  .some-component{
    position: sticky;
    top: 0;
} 

.padding-all {
  padding:.5rem;
}

.flexandwrap {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  border-style: outset;
  border-width:5px;
  border-color:$dark-blue;
}

.flexcolandwrap {
  display:flex;
  flex-direction:column;
  
  border-color:$dark-blue;
}

