.header {
  //background: purple; // $dark-blue;
  background-color: rgba(219, 87, 5, 1);
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  //padding: $l-size 0;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  font-size:1.5rem;
  h1 {
    margin: 0;
  }
}

.header-flex-row {
  display:flex;
  flex-direction:row;
}

.rounded-full-1 {
  border-radius: 50% 50%;
}