.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader1 {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}

.linkedinlogo__image {
  height:2rem;
  width:7rem;
}

.facebooklogo__image {
  height:1.5rem;
  width:3rem;
}

.messengerlogo__image {
  height:3rem;
  width:5.5rem;
}

.x__image {
  height:.8rem;
  width:1.3rem;
}

.x__image-gc {
  padding-top: 1rem;
  height:5rem;
  width:6rem;
}
