// Colors
$dark-grey: #333;
$grey: #665;
$blue: #1c88bf;
$dark-blue: #13253b;
$off-white: #f7f7f7;
// Font Size
$font-size-large: 1rem;
$font-size-small: 1rem;
// Spacing
$s-size: 1rem;
$s-size1: 1.1rem;
$m-size: 1rem;
$l-size: 1rem;
$l-size2: 0.5rem;
$xl-size: 1rem;
$desktop-breakpoint: 45rem;
